@import '../shared/styles/auth-shared.css';

.form-box.register {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    visibility: hidden;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box.register {
    right: 50%;
    visibility: visible;
}
