<div class="container" [ngClass]="{ active: registerVisible}">
  <div class="form-box login">
    <app-login> </app-login>
  </div>

  <div class="form-box register">
    <app-register> </app-register>
  </div>

  <div class="toggle-box">
    <div class="toggle-panel toggle-left">
      <h1>Hola, bienvenido</h1>
      <p>¿No tienes una cuenta?</p>
      <button class="btn register-btn" (click)="showRegisterForm()">Regístrate</button>
    </div>

    <div class="toggle-panel toggle-right">
      <h1>¡Bienvenido!</h1>
      <p>¿Ya tienes una cuenta?</p>
      <button class="btn login-btn" (click)="showRegisterForm()">Login</button>
    </div>
  </div>
</div>
